<div class="acesso">
  <ul>
    <li>
  <mat-card class="example-card" id="cliente">
    <mat-card-header>
      
      <mat-card-title>Sunset Bar</mat-card-title>
      <mat-card-subtitle color="primary">Area do cliente</mat-card-subtitle>
    </mat-card-header>
    <img src='assets/img/logoBar.png' class="logo">
    <mat-card-content>
      <p>
       Acesso ao cardapio do Bar e a area de pedidos
      </p>
      
    </mat-card-content>
   
    <mat-card-actions>
      <button mat-button routerLink="/cardapio">ENTRAR</button>
      
    </mat-card-actions>
  </mat-card>
  </li>
  <li>
  <mat-card class="example-card" id="adm" >
    <mat-card-header>
      
      <mat-card-title>Sunset Bar</mat-card-title>
      <mat-card-subtitle>Administrador</mat-card-subtitle>
    </mat-card-header>
     <img src='assets/img/logoBar.png' class="logo">
    <mat-card-content>
      <p>
        Acesso aos relatorios diarios e mensais.
      </p>
    </mat-card-content>
   
    <mat-card-actions>
      <button mat-button routerLink="/loginAdm">LOGIN</button>
     
    </mat-card-actions>
  </mat-card>
  </li>
  </ul>
  </div>