<div class="container">
<!--<app-menu></app-menu>-->
<div class="form">
    <mat-card class="example-card">
        <mat-card-header>
         <!-- <div mat-card-avatar class="example-header-image"></div>-->
          <mat-card-title>Acesso Administrador</mat-card-title>
          <!--<mat-card-subtitle>Login de acesso</mat-card-subtitle>-->
        </mat-card-header>
        
        <mat-card-content>
            <form >
    
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>CPF/E-mail</mat-label>
                    <input matInput/>
                  </mat-form-field>
                
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Senha</mat-label>
                    <input matInput/>
                  </mat-form-field>
                </form>            
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button>LOGIN</button>
          <!--<button mat-button>REGISTRAR</button>-->
        </mat-card-actions>
      </mat-card>
      
    </div>
</div>